<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="1.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <header>
        
    </header>
    <main>
        <div class="top">
            <div class="top__gnb-bar-inner">
                <div class="top__gnb">
                <ul class="top__gnb__ul">
                    <li class="top__gnb__li top__gnb__li-first">
                        <a>네이버를 시작페이지로</a>
                    </li>
                    <li class="top__gnb__li">
                        <a>쥬니어네이버</a>
                    </li>
                    <li class="top__gnb__li">
                        <a>해피빈</a>
                    </li>
                </ul>
                </div>
                <div class="top__search">
                    <div class="top__search__wrap">
                        <h1 class="top__search__title-logo">
                            <a class="top__search__title-link">
                                <span class="top__search__title-text">NAVER</span>
                            </a>
                        </h1>
                        <div class="top__search__bar">
                            <div class="top__search__input-wrap">
                                <input class="top__search__input">
                            </div>
                            <button class="top__search__button" type="submit">?</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top__gnb2">
                <div class="top__gnb2__inner">
                    <div class="top__gnb2__left-side">
                        <ul class="top__gnb2__ul">
                            <li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    메일
                                </a>
                            </li>
                            <li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    카페
                                </a>
                            </li>
                            <li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    블로그
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    지식iN
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    쇼핑
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    쇼핑LIVE
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    Pay
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link top__gnb2__green">
                                    TV
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    사전
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    뉴스
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    증권
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    부동산
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    지도
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    VIBE
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    책
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    웹툰
                                </a>
                            </li><li class="top__gnb2__li">
                                <a class="top__gnb2__item-link">
                                    더보기
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="top__gnb2__right-side">
                        <div>

                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="left-side">

        </div>
        <div class="right-side">

        </div>
    </main>
    <footer>

    </footer>
</body>
</html>